<script
  src="{{ 'beconcept-homecarousel.js' | asset_url }}"
  type="module"
  fetchpriority="low"
></script>

<beconcept-homecarousel-component
  class="min-h-screen h-screen overflow-auto relative"
  data-speed="{{ section.settings.scroll_speed }}"
  data-direction="{{ section.settings.scroll_direction }}"
  data-autoplay="{{ section.settings.enable_autoplay }}"
  data-hover-slowdown="{{ section.settings.enable_hover_slowdown }}"
>
  {% if section.settings.home_carousel_text %}
    <div class="fixed z-[99] w-full div--container top-1/2 -translate-y-1/2 text-center label-l text-[#BFBFBF] mix-blend-exclusion">
      {{ section.settings.home_carousel_text }}
    </div>
  {% endif %}
  <div class="w-full relative z-10 px-6">
    {%- assign gallery_images = section.settings.home_carousel.image_gallery.value -%}
    {%- if gallery_images != blank -%}
      <div ref="track">
        <div ref="content">
          {%- for image in gallery_images -%}
            {%- assign mod_index = forloop.index0 | modulo: 12 -%}
            {%- case mod_index -%}
              {%- when 0 -%}
                {%- assign custom_classes = 'lg:col-start-17 lg:col-span-5 md:col-start-10 md:col-span-3 col-start-7 col-span-5 aspect-2-3' -%}
                {%- assign gridmargintop = '' -%}
              {%- when 1 -%}
                {%- assign custom_classes = 'lg:col-start-2 lg:col-span-7 md:col-start-1 md:col-span-5 col-start-1 col-span-7 aspect-4-5 mt-[200px] md:mt-[50px] lg:-mt-[140px]' -%}
                {%- assign gridmargintop = '' -%}
              {%- when 2 -%}
                {%- assign custom_classes = 'lg:col-start-15 lg:col-span-5 md:col-start-9 md:col-span-3 col-start-5 col-span-5 aspect-4-5 mt-[120px] md:mt-[130px] lg:-mt-[100px]' -%}
                {%- assign gridmargintop = '' -%}
              {%- when 3 -%}
                {%- assign custom_classes = 'lg:col-start-6 lg:col-span-5 md:col-start-3 md:col-span-3 col-start-2 col-span-5 aspect-4-5 mt-[200px] md:mt-[50px] lg:mt-[90px]' -%}
                {%- assign gridmargintop = '' -%}
              {%- when 4 -%}
                {%- assign custom_classes = 'lg:col-start-16 lg:col-span-6 md:col-start-8 md:col-span-4 col-start-7 col-span-6 aspect-2-3 mt-[120px] md:mt-[180px] lg:mt-[25px]' -%}
                {%- assign gridmargintop = '' -%}
              {%- when 5 -%}
                {%- assign custom_classes = 'lg:col-start-4 lg:col-span-7 md:col-start-1 md:col-span-5 col-start-1 col-span-6 aspect-4-5 mt-[120px] md:mt-[180px] lg:-mt-[25px]' -%}
                {%- assign gridmargintop = '' -%}
              {%- when 6 -%}
                {%- assign custom_classes = 'lg:col-start-18 lg:col-span-7 md:col-start-8 md:col-span-5 col-start-4 col-span-6 aspect-4-5 mt-[200px] md:mt-[180px] lg:-mt-[190px]' -%}
                {%- assign gridmargintop = '' -%}
              {%- when 7 -%}
                {%- assign custom_classes = 'lg:col-start-10 lg:col-span-6 md:col-start-5 md:col-span-4 col-start-2 col-span-6 aspect-4-5 mt-[120px] md:mt-[250px] lg:mt-[70px]' -%}
                {%- assign gridmargintop = '' -%}
              {%- when 8 -%}
                {%- assign custom_classes = 'lg:col-start-16 lg:col-span-5 md:col-start-8 md:col-span-3 col-start-7 col-span-5 aspect-4-5 mt-[200px] md:mt-[250px] lg:mt-[200px]' -%}
                {%- assign gridmargintop = '' -%}
              {%- when 9 -%}
                {%- assign custom_classes = 'lg:col-start-4 lg:col-span-5 md:col-start-2 md:col-span-3 col-start-1 col-span-5 aspect-2-3 mt-[120px] md:mt-[140px] lg:-mt-[200px]' -%}
                {%- assign gridmargintop = '' -%}
              {%- when 10 -%}
                {%- assign custom_classes = 'lg:col-start-12 lg:col-span-7 md:col-start-6 md:col-span-5 col-start-6 col-span-6 aspect-4-5 mt-[120px] md:mt-[150px] lg:mt-[120px]' -%}
                {%- assign gridmargintop = '' -%}
              {%- when 11 -%}
                {%- assign custom_classes = 'lg:col-start-5 lg:col-span-5 md:col-start-3 md:col-span-4 col-start-2 col-span-5 aspect-4-5 mt-[200px] md:mt-[250px] lg:mt-[90px]' -%}
                {%- assign gridmargintop = '' -%}
            {%- endcase -%}
            <div
              data-element="{{ mod_index }}"
              class="grid lg:grid-cols-24 md:grid-cols-12 grid-cols-12 lg:gap-8 md:gap-4 gap-4 relative {{ gridmargintop }}"
            >
              <div
                ref="items[]"
                on:pointerenter="/onItemEnter"
                on:pointerleave="/onItemLeave"
                class="{{ custom_classes }} overflow-hidden relative group"
              >
                <a href="{{ routes.all_products_collection_url }}" class="block w-full h-full">
                  {{
                    image
                    | image_url: width: 800
                    | image_tag: loading: 'lazy', class: 'w-full h-full object-cover object-center', alt: image.alt
                    | default: section.settings.home_carousel.id_gallery
                  }}
                </a>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </div>
</beconcept-homecarousel-component>
{% schema %}
{
  "name": "Homepage Carousel",
  "class": "section-wrapper",
  "settings": [
    {
      "type": "text",
      "id": "home_carousel_text",
      "label": "Text in overlay",
      "default": "Ceramics for gatherings"
    },
    {
      "type": "metaobject",
      "id": "home_carousel",
      "label": "Select gallery to show",
      "metaobject_type": "homepage_carousel"
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "label": "Enable autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_hover_slowdown",
      "label": "Slow down on hover",
      "default": true,
      "visible_if": "{{ section.settings.enable_autoplay == true }}"
    },
    {
      "type": "range",
      "id": "scroll_speed",
      "label": "Scroll speed (px per second)",
      "min": 10,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 40,
      "visible_if": "{{ section.settings.enable_autoplay == true }}"
    },
    {
      "type": "select",
      "id": "scroll_direction",
      "label": "Scroll direction",
      "options": [
        { "value": "up", "label": "Bottom to top" },
        { "value": "down", "label": "Top to bottom" }
      ],
      "default": "up",
      "visible_if": "{{ section.settings.enable_autoplay == true }}"
    }
  ],
  "enabled_on": {
    "templates": ["index"]
  },
  "presets": [
    {
      "name": "Homepage Carousel",
      "category": "Beconcept"
    }
  ]
}
{% endschema %}
