<script
  type="module"
  src="{{ 'cart-icon.js' | asset_url }}"
  fetchpriority="low"
></script>

{% capture cart_icon %}
  <cart-icon
    class="label-l flex items-center gap-[6px] cursor-pointer"
    data-testid="cart-icon"
  >
    <span class="">
      {{ 'content.cart_title' | t }}
    </span>
    {% render 'cart-bubble', limit: 100 %}
  </cart-icon>
{% endcapture %}
<header class="mix-blend-exclusion text-blend-typo absolute top-0 left-0 w-full lg:h-[72px] md:h-[64px] h-[48px] z-[999]">
  <div class="div--container common--grid h-full">
    <div class="col-span-5 self-center hidden lg:block">
      {% if section.settings.main_menu %}
        {% assign mainmenu = section.settings.main_menu %}
        <div class="flex items-center gap-10">
          {% for link in mainmenu.links -%}
            <a href="{{ link.url }}" class="label-l hover:opacity-40 transition-all duration-300">{{ link.title }}</a>
          {%- endfor %}
        </div>
      {% endif %}
    </div>
    <div class="lg:col-span-2 col-span-4 col-start-5 self-center isolate mix-blend-normal">
      {% if section.settings.mainlogo %}
        <a
          href="{{ shop.url }}"
          class="block w-full lg:max-w-[130px] md:max-w-[146px] mx-auto hover:opacity-40 transition-all duration-300"
        >
          <img class="w-full mx-auto" src="{{ section.settings.mainlogo | image_url: width: 450 }}" />
        </a>
      {% endif %}
    </div>
    <div class="col-span-5 self-center items-center justify-end hidden lg:flex">
      <div class="flex items-center gap-10">
        {% if section.settings.customer_account_menu %}
          {% assign rightmenu = section.settings.customer_account_menu %}
          {% for link in rightmenu.links -%}
            <a href="{{ link.url }}" class="label-l hover:opacity-40 transition-all duration-300">{{ link.title }}</a>
          {%- endfor %}
        {% endif %}
        <button
          class="header-actions__action button-unstyled"
          on:click="#cart-drawer/toggle"
          aria-haspopup="dialog"
          aria-expanded="false"
          aria-controls="cart-drawer"
          aria-label="{{ 'accessibility.cart' | t }}"
          aria-describedby="cart-bubble-text"
          data-testid="cart-drawer-trigger"
        >
          {{ cart_icon }}
        </button>
      </div>
    </div>
    <div class="col-span-3 col-start-10 self-center items-center justify-end lg:hidden flex">
      <div class="w-6 h-6 aspect-square">
        <span class="w-full text-blend-typo">
          {{- 'ic-hamburger.svg' | inline_asset_content -}}
        </span>
      </div>
    </div>
  </div>
</header>
<div class="h-[1px] bg-dark/8 w-full absolute bottom-0 left-0 z-[999]"></div>

<script
  src="{{ 'header.js' | asset_url }}"
  type="module"
></script>

{% schema %}
{
  "name": "t:names.header",
  "tag": "header",
  "class": "header-section relative",
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "image_picker",
      "id": "mainlogo",
      "label": "Logo Desktop"
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Main Menu"
    },
    {
      "type": "link_list",
      "id": "customer_account_menu",
      "label": "Customer Menu"
    }
  ],
  "presets": []
}
{% endschema %}
