<header class="w-full h-[72px] z-[999] fixed top-0 left-0 border-b border-solid border-dark/15">
  <div class="div--container common--grid h-full">
    <div class="col-span-5 self-center">
      {% if section.settings.main_menu %}
        {% assign mainmenu = section.settings.main_menu %}
        <div class="flex items-center gap-10">
          {% for link in mainmenu.links -%}
            <a href="{{ link.url }}" class="mix-blend-difference label-l text-white">{{ link.title }}</a>
          {%- endfor %}
        </div>
      {% endif %}
    </div>
    <div class="col-span-2 self-center">
      {% if section.settings.mainlogo %}
        <a href="{{ shop.url }}" class="block w-full max-w-[130px] mx-auto">
          <img src="{{ section.settings.mainlogo | image_url: width: 450 }}" />
        </a>
      {% endif %}
    </div>
    <div class="col-span-5 self-center flex items-center justify-end">
      {% if section.settings.customer_account_menu %}
        {% assign rightmenu = section.settings.customer_account_menu %}
        <div class="flex items-center gap-10">
          {% for link in rightmenu.links -%}
            <a href="{{ link.url }}" class="mix-blend-difference label-l">{{ link.title }}</a>
          {%- endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</header>

<script
  src="{{ 'header.js' | asset_url }}"
  type="module"
></script>

{% schema %}
{
  "name": "t:names.header",
  "tag": "header",
  "class": "header-section",
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "image_picker",
      "id": "mainlogo",
      "label": "Logo Desktop"
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Main Menu"
    },
    {
      "type": "link_list",
      "id": "customer_account_menu",
      "label": "Customer Menu"
    }
  ],
  "presets": []
}
{% endschema %}
